name: CI

on: [ push, pull_request ]

env:
  RUST_BACKTRACE: full

jobs:
  style:
    name: Check Style

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - run: rustup update
      - run: cargo build --release
      - run: cargo fmt --manifest-path Cargo.toml --all -- --check

  clippy_check:
    name: Clippy check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: rustup component add clippy
      - run: cargo clippy --manifest-path Cargo.toml --all-targets --all-features -- -D warnings

  build:
    name: ${{ matrix.name }}
    needs: [ style ]

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        name:
          - linux / stable
          - linux / beta

        include:
          - name: linux / stable
            os: ubuntu-latest
            rust: stable
            php: '8.4'
          - name: linux / beta
            os: ubuntu-latest
            rust: beta
            php: '8.4'

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none
          tools: composer

      - name: Get Composer Cache Directory
        id: composer-cache
        working-directory: tests
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Init Composer Cache # Docs: <https://git.io/JfAKn#php---composer>
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ matrix.php }}-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install Composer dependencies
        working-directory: tests
        run: composer update --prefer-dist --no-progress --ansi

      - name: Test Rust
        run: cargo test --all

      - name: Build
        run: cargo build
